* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app-container {
	width: 100%;
	overflow: hidden;
	max-width: 1920px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}



.flex {
	width: 100%;
	grid-gap: 5px;
	display: flex;
	justify-content: space-between;
}

.start-text {
	max-width: 60%;
	padding: 44px 20px;
	font-size: 44px;
	color: var(--start-text);
	letter-spacing: 0.7px;
	font-family: 'Gabarito', cursive;
	animation: startTextAnimation 1.0s linear;
}

@keyframes startTextAnimation {
	0% {
		transform: translateX(-80vw);
	}

	100% {
		transform: translateX(0);
	}
}

.start-text :last-child {
	color: rgb(219, 32, 57);
	margin-top: 50px;
}


@media(max-width:1260px){
	.start-text{
		padding: 20px;
	}
}

@media(max-width:926px){
	.start-text {
			font-size: 36px;
		}
}


@media(max-width:695px) {
	.flex {
		flex-direction: column;
	}
		.start-text {
			max-width: none;
			font-size: 30px;
		}
				.start-text :last-child{
					margin-top: 20px;
				}
}

@media(max-width:460px){
	.start-text {
			font-size: 22px;
		}
}

@media(max-width:414px){
	.start-text {
			font-size: 16px;
		}
}