:root {
  --body_background: #fbfcfd;
  --header_color: rgb(243, 243, 243);
  --start-text: #000;
  --title_color: rgb(58, 58, 58);
  --text_color: #26b0da;
  --country_name_color: rgb(58, 58, 58);
  --flagAndCoat_bg_color: #9c9c9c;
  --time_color: #13120a;
  --countries_time_title: #464646;
  --countries_dashboard_bc: #d0f5f1;
  --countries_text_color: #1891a7;
  --countries_dashboard_bc_hover: #fbfcfd;
  --countries_text_color_hover: #1891a7;
  --weather_title_color: #F1FF00;
  --weather_context_color: rgb(78, 226, 48);
}

[data-theme="dark"] {
  --body_background: #0f0f0e;
  --header_color: rgb(41, 41, 41);
  --start-text: #fff;
  --title_color: rgb(164, 255, 0);
  --text_color: #F1FF00;
  --country_name_color: #f6f6f2;
  --flagAndCoat_bg_color: #333333b4;
  --time_color: #ddd017;
  --countries_time_title: #B7A7AE;
  --countries_dashboard_bc: #2A4F5E;
  --countries_text_color: #0f0f0e;
  --countries_dashboard_bc_hover: #0f0f0e;
  --countries_text_color_hover: #2A4F5E;
  --weather_title_color: #F6A71C;
  --weather_context_color: rgb(74, 231, 252);
}

body {
  margin: 0;
  font-family: 'Gabarito', cursive;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body_background);
  color: rgb(0, 0, 0);
}